/* Devs Against The Clock StyleSheet */
:root {
  --background1: #6b6b6b44;
  --background2: #dedede44;
  --screen-color: #848484;
  --text-color: #000000;
  --text-shadow: #ffffff;
  --button-color: #424242;
  --button-color-hover: #535353;
  --button-color-focus: #323232;
  --button-shadow: #212121;
  --correct-color: #33dd33;
  --correct-border: #337733;
  --correct-shadow: #33ff33;
  --incorrect-color: #dd3333;
  --incorrect-border: #773333;
  --incorrect-shadow: #ff3333;
}

/* ---- GENERAL SELECTORS ---- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}
body {
  background-color: var(--background2);
  background: repeating-linear-gradient( -45deg, var(--background1), var(--background1) 9.5px, var(--background2) 9.5px, var(--background2) 47.5px );
}
a { color: var(--text-color); }
img { user-select: none; -webkit-user-drag: none; }

#screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#questions-ui {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 5;
  width: 70%;
  background-color: var(--screen-color);
  box-shadow: 4px 4px var(--text-color);
  text-align: center;
}
  /* ---- Main Menu ---- */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  font-size: 40px;
  padding: 0 40px;
  text-shadow: 0 0 4px var(--text-shadow);
  text-align: center;
  background-color: var(--background2);
}
.credits {
  opacity: .75;
}
.buttons-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-basis: 150px;
  transition: opacity .5s;
}
button[type="button"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  border: none;
  border-radius: 30px;
  border-bottom: 6px solid var(--button-shadow);
  color: var(--text-shadow);
  padding: 20px;
}
button[type="button"]:hover { cursor: pointer; background-color: var(--button-color-hover); }
button[type="button"]:active { background-color: var(--button-color-focus); border: none; }
.button-menu {
  width: 150px;
  height: 100%;
}
.button-option {
  flex: 1;
  height: 70%;
  font-size: 25px;
  margin: 0 20px;
}
.button-difficulty-easy { background-color: #006c00 !important; border-color: #002200 !important; }
.button-difficulty-easy:hover { background-color: #007700 !important; }
.button-difficulty-normal { background-color: #6c6c00 !important; border-color: #222200 !important; }
.button-difficulty-normal:hover { background-color: #777700 !important; }
.button-difficulty-hard { background-color: #6c0000 !important; border-color: #220000 !important; }
.button-difficulty-hard:hover { background-color: #770000 !important; }
.button-difficulty-expert { background-color: #6c0055 !important; border-color: #220011 !important; }
.button-difficulty-expert:hover { background-color: #770066 !important; }

.button-blocked {
  cursor: default !important;
  border: none !important;
  background-color: var(--button-color-focus) !important;
  user-select: none !important;
}
.button-blocked-correct {
  background-color: var(--correct-border) !important;
}
.button-blocked-incorrect {
  background-color: var(--incorrect-color) !important;
}
          /* ---- Animation ---- */
@keyframes disappearLogo {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* ---- Questions ---- */
.answer-container {
  position: relative;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.answer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  border-left: none; border-right: none;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 4px;
  z-index: 1000;
  overflow: hidden;
  user-select: none;
  animation: 1.25s ease forwards showAnswer;
}
.ans-correct { 
  background-color: var(--correct-color);
  border: 3px solid var(--correct-border);
  text-shadow: 3px 3px 2px var(--correct-border);
  --ans-shadow: var(--correct-shadow);
}
.ans-incorrect { 
  background-color: var(--incorrect-color);
  border: 3px solid var(--incorrect-border);
  text-shadow: 3px 3px 2px var(--incorrect-border);
  --ans-shadow: var(--incorrect-shadow);
}
.answer::before, .answer::after {
  content: "";
  position: absolute;
  left: -140px;
  top: 0;
  display: inline-block;
  height: 100%;
  width: 100px;
  background-color: var(--ans-shadow);
  clip-path: polygon(60% 0, 100% 0%, 40% 100%, 0% 100%);
}
.answer::before { animation: 2s ease-in-out forwards moveAnswerElement; }
.answer::after { animation: 1.5s ease-in-out forwards moveAnswerElement; }
.answer-span { position: relative; z-index: 1001; }
@keyframes showAnswer {
  0% { height: 0; }
  45% { height: 50%; }
  55% {
    height: 50%;
    border-width: 3px;
  }
  100% {
    height: 0;
    border-width: 0;
  }
}
@keyframes moveAnswerElement {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

/* ---- Clock ---- */

#clock-ui {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.clock {
  width: 100%;
  height: 30px;
  background-color: var(--button-color-hover);
  border: 2px solid #000000;
  opacity: 0;
  transition: opacity .5s;
}
.clock-bar {
  --bar-color: #00b600;
  height: 100%;
  background-color: var(--bar-color);
}
@keyframes correctBarPulse {
  0% { background-color: #00ff00; }
  100% { background-color: var(--bar-color); }
}
@keyframes incorrectBarPulse {
  0% { background-color: #ff0000; }
  100% { background-color: var(--bar-color); }
}

#footer-ui { flex: 1; }

  /* ---- Miscellaneous classes ---- */
.screen-reader {
  text-indent: -9999px;
}
.button-icon {
  width: 90%;
  height: 90%;
  filter: invert(80%);
  opacity: .6;
}